#about_layout {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    min-height: 60vh;
    
}

.about_content {
    display: flex;
    flex-direction: row;
    max-height: 600px;
}

.about_description {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#portfolio_photo {
    scale: 0.3;
    display: block;
    position: relative;
    max-width: 100px;
    align-self: flex-start;
    top: -359px;
}

#about_final {
    padding-top: 30px;
    font-size: 20px;
    max-width: 600px;
    line-height: 1.8;
}

#about-paragraph {
    font-size: 20px;
    max-width: 600px;
    line-height: 1.8;
}

#tech-line {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    #about_layout {
        padding-left: unset;
        padding: 5%;
        align-content: center;
        
    }
    .about_content {
        display: flex;
        flex-direction: row;
    }

    #tech-line {
        font-size: 17px;
    }
    #about-paragraph {
        font-size: 18px;
        max-width: unset;
        width: 100%;
        line-height: 1.8
        
    }

    #tech-line {
        font-size: 17px;
        
    }

    #about_final {
        padding-top: 10px;
        font-size: 18px;
        max-width: 600px;
        line-height: 1.8;
       
    }

    #portfolio_photo {
        display: none;
    }

    
   
}