#about_layout {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    min-height: 60vh;
}

.about_content {
    display: flex;
    flex-direction: row;
    padding: 0;
    max-height: 600px;
}

.about_description {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-right: 250px;
    min-width: 600px;
}

#portfolio_photo {
    transform: scale(0.14);
    transform-origin: top left;
}

#about_final {
    padding-top: 30px;
    font-size: 20px;
    max-width: 600px;
    line-height: 1.8;
}

#about-paragraph {
    font-size: 20px;
    max-width: 600px;
    line-height: 1.8;
}

#tech-line {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    #about_layout {
        padding-left: unset;
        padding: 5%;
        align-content: center;
    }

    .about_content {
        display: flex;
        flex-direction: row;
    }

    .about_description {
        min-width: auto;
        max-width: 100%;
        padding-right: 0;
    }

    #tech-line {
        font-size: 17px;
    }
    #about-paragraph {
        font-size: 18px;
        max-width: unset;
        width: 100%;
        line-height: 1.8
    }

    #tech-line {
        font-size: 17px;
    }

    #about_final {
        padding-top: 10px;
        font-size: 18px;
        max-width: 600px;
        line-height: 1.8;
    }

    #portfolio_photo {
        display: none;
    }

}