.example-container {
    background: white;
    border-radius: 50px;
    width: 150px;
    height: 150px;
}

.typewriter-container {
    width: 600px;
    position: relative;
    color: var(--lightest-slate);
    font-size: 85px;
}

#bio {
    font-size: 40px;
    max-width: 600px;
}

#intro_layout {
    min-height: 100vh;
}

.intro_content {
    position: relative;
    padding-left: 15%;
    padding-top: 10%;
    text-align: justify;
    
}

#portfolio_username {
    font-weight: bold;
    color: aqua;
} 

.section_header {
    font-size: 20px;
}


