.typewriter-container {
    width: 600px;
    position: relative;
    color: var(--lightest-slate);
    font-size: 85px;
}

#intro-line {
    font-size: 40px;
}

#bio {
    max-width: 600px;
}

#intro_layout {
    min-height: 100vh;
}

.intro_content {
    position: relative;
    padding-left: 15%;
    padding-top: 10%;
    text-align: justify;
}

#portfolio_username {
    font-weight: bold;
    color: aqua;
} 

.section_header {
    font-size: 20px;
}

#get-in-touch {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-self: center;
    flex-direction: row;
}

#get-in-extra-icons {
   display: none;
}




@media only screen and (max-width: 600px) {
    #intro_layout {
       align-items: center;
       min-height: 80vh;
    }
    .intro_content {
        align-items: center;
        padding-left: unset;
        text-align: center;
        margin: 0;
        padding: 5%;
    }
    
    #bio {
        font-size: 25px;
    }
    #intro-line {
        font-size: 25px;
    }

    .example-container {
        display: none;
    }
    .typewriter-container {
        width: auto;
        font-size: 50px;
    }

    #get-in-extra-icons {
        display: flex;
        flex-direction: row;
        align-self: center;
        padding-top: 15px;
        color: aqua;
        gap: 10px;
    }

    #rocket-ship {
        display: none;
    }
} 

