.projects_layout {
    padding-left: 15%;
    position: relative;
    min-height: 70vh;
    align-content: center;
}

#project_carousel {
    max-width: 1000px;
    margin-right: 7%;
}

.project_showcase_item {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-size: cover;
    min-height: 600px;
    margin-left: 0px;
    position: relative;
    align-self: center;
}

.icons {
    display: flex;
    width: auto;
    fill: gray;
    
    margin-right: 10px;
    cursor: pointer;
}

.icon-row {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10px;
    left: 470px;
    
}