#projects_layout {
    padding-left: 15%;
    position: relative;
    min-height: 70vh;
    align-content: center;
}

#project_carousel {
    max-width: 1000px;
    margin-right: 7%;
}

.project_showcase_item {
    border-radius: 30px;
    display: flex;
    background-size: cover;
    position: relative;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    height: 600px;
}

.icons {
    display: flex;
    width: auto;
    color: inherit; /* or specify the desired color */
    text-decoration: none; /* to remove underlines or other decorations */
    margin-right: 10px;
}

.icons:hover {
    color: aqua;
}

.icon-row {
    display: flex;
    flex-direction: row;
    align-self: center; 
    padding-top: 150px;
    padding-bottom: 5px;
}